################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WebSite/obj
/WebSite/bin/Debug/net8.0
*.gguf
